<section class="content">

    <div class="row">
      <div class="col-md-1"></div>
          <div class="col-md-10">
              <div class="panel-heading"><strong>Add New Employees</strong> <small></small></div>
              <div class="box box-info">
                <div class =  "instructions">
                <ol>
                  <li>The Excel file should contain four columns </li>
                  <li>The first column contains the <strong>Employee Id</strong></li>
                  <li>The second column contains the <strong>Name</strong> of the employee</li>
                  <li>The third column contains the <strong>Login</strong> of the employee</li>
                  <li>The fourth column contains the <strong>Salary</strong> of the employee</li>
                  <li>Do try to ensure that the logins for the employees are <strong>unique</strong> before submitting the CSV</li>
              </ol>
                <div class="box-body table-responsive">
                  <p>The column headers should be in this order: <strong>Employee Id</strong>, <strong>Name</strong>, <strong>Login</strong>, <strong>Salary</strong>.</p>
                  <p>  A sample file is available for download</p>
                  <form>
                    <button class="btn" (click)="downloadSample()">Download CSV</button>
                    </form>
               </div>
             </div>
                <div class="box-body table-responsive">
                    <hr>
                    <div class="panel-body">
                      <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
                      [dtTrigger]="dtTrigger" >
                          <thead class="thead-light">
                              <tr>
                                  <th>Employee Id</th>
                                  <th>Employee Name</th>
                                  <th>Employee Login</th>
                                  <th>Employee Salary</th>

                              </tr>
                          </thead>
                          <tbody>
                               <tr *ngFor="let employee of employeesTemp">
                                  <td>{{employee.employee_id}}</td>
                                  <td>{{employee.name}}</td>
                                  <td>{{employee.login}}</td>
                                  <td>{{employee.salary}}</td>
                                </tr>
                          </tbody><br>
                      </table>
                    </div>
                    <hr>
                    <!-- form start -->
                    <p>Your uploaded csv file data will be shown for confirmation.</p>
                    <form role="form" class="form-horizontal" name="bulkDirectForm" method="post" enctype="multipart/form-data" novalidate>
                      <div class="box-body">
                        <div id="messages" class="alert alert-success" [hidden]="!successMessage">{{successMessage}}</div>
                        <div id="warning" class="alert alert-warning" [hidden]="!warningMessage">{{warningMessage}}</div>
                        <div id="errorAlert" class="alert alert-danger" [hidden]="!errorMessage">{{errorMessage}}</div>

                        <div class="form-group">
                          <div class="col-sm-10">
                            <input type="file" #fileImportInput name="CSV File Upload" (change)="fileChangeListener($event)" accept=".csv">
                          </div>
                          <br/>
                          <div class="col-sm-2">
                            <button type="submit" class="btn btn-block btn-info" (click)="addEmployees()" [disabled]="errorMessage">Add Employees</button>
                          </div>
                        </div>
                      </div>
                    </form>
                </div>
              </div>
          </div>
     </div>
</section>
