<div class="col-md-1"></div>
<div class="panel panel-default col-md-10">
  <div class="panel-heading">
      <h3 style="text-align: center">Filter Employees</h3><br>
      <div class="md-col-1"></div>
      <div class="md-col-10">
        <form [formGroup]="employeeFilterForm" #filtEmployee (ngSubmit)="filterEmployees()">
          <div class="form-group col-md-2">
            <label for="name">Minimum Salary</label>
            <input type="number" class="form-control" formControlName="minSalary"
            data-toggle="tooltip" data-placement="right" title="Enter minimum salary" min="0" [(ngModel)] = "fMinS" required>
            <small>Up to 2 decimals</small>
          </div>

          <div class="form-group col-md-2">
            <label for="name">Maximum Salary</label>
            <input type="number" class="form-control" formControlName="maxSalary"
            data-toggle="tooltip" data-placement="right" title="Enter maximum salary" min="0" [(ngModel)] = "fMaxS" required>
            <small>Up to 2 decimals</small>
          </div>

          <div class="form-group col-md-2">
            <label for="name">Offset</label>
            <input type="number" class="form-control" formControlName="offset"
            data-toggle="tooltip" data-placement="right" title="Enter offset" min="0" value="0" placeholder="0" [(ngModel)] = "fOffs" required>
          </div>

          <div class="form-group col-md-2">
            <label for="name">Limit</label>
            <input type="number" class="form-control" formControlName="limit"
            data-toggle="tooltip" data-placement="right" title="Enter limit" min="30" max="30" value="30" placeholder="30" [(ngModel)] = "fLimit">
            <small>Limit can only be 30</small>
          </div>

          <div class="form-group col-md-2">
            <label for="name">Sort By</label>
            <select class="form-control" formControlName="sortField" data-toggle="tooltip"
            data-placement="right" title="Select Student Branch" [(ngModel)] = "fSField" >
            <option [ngValue]="null" disabled>-- Select --</option>
            <option value="employee_id" selected>Employee Id</option>
            <option value="login">Login</option>
            <option value="name">Name</option>
            <option value="salary">Salary</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <label for="name">Sort Type</label>
            <select class="form-control" formControlName="sortType" data-toggle="tooltip"
            data-placement="right" title="Select Student Branch" [(ngModel)] = "fSType" >
            <option [ngValue]="null" disabled>-- Select --</option>
            <option value="a" selected>Ascending</option>
            <option value="d">Descending</option>
            </select>
          </div>
          <div class="text-right">
            <span [hidden]="!isFilter">Please <b>clear filters</b> first. </span>
            <button type="submit" class="btn btn-info" [disabled]="!employeeFilterForm.valid || isFilter"><fa-icon [icon]="faSearch"></fa-icon> Filter</button>
          </div>
        </form>
      </div>
      <div class="row" [hidden]="!filterMessage">
          <div class="col-sm-4"></div>
          <div class="col-sm-4">
                  <div class="alert alert-danger alert-dismissible">
                          <button type="button" class="close" data-dismiss="alert">×</button>
                          <strong>{{filterMessage}}</strong>
                  </div>
          </div>
          <div class="col-sm-4"></div>
      </div>
  </div>
  <hr/>
  <div class="row">
    <div class="text-left col-md-6">
    <button class="btn btn-sm" (click)="loadAllEmployees()" [disabled]="isFilter">Load all employees (Must have no filters!)</button>
    </div>
    <div class="text-right col-md-6">
      <button class="btn btn-sm" (click)="clearFilters()" [disabled]="!isFilter">Clear filters</button>
    </div>
  </div>
  <div class="box-body table-responsive">
    <div class="panel-body">
        <table  class="table table-hover table-sm" datatable [dtOptions]="dtOptions"
        [dtTrigger]="dtTrigger"  >
            <thead class="thead-light">
                <tr>
                    <th>Employee Id</th>
                    <th>Employee Name</th>
                    <th>Employee Login</th>
                    <th>Employee Salary</th>
                    <th>Action</th>

                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let employee of employees ">
                    <td>{{employee.employee_id}}</td>
                    <td>{{employee.name}}</td>
                    <td>{{employee.login}}</td>
                    <td>{{employee.salary}}</td>
                    <td>
                      <button (click)="updateEmployee(employee.employee_id)" class='btn btn-info'
                      data-toggle="modal" data-target="#editModal"><fa-icon [icon]="faEdit"></fa-icon></button> &nbsp;
                      <button (click)="updateEmployee(employee.employee_id)" class='btn btn-primary' data-toggle="modal"
                      data-target="#deleteModal"><i class="fa fa-futboll-0"><fa-icon [icon]="faTrash"></fa-icon></i></button>
                    </td>
                  </tr>
            </tbody><br>
        </table>
    </div>
  </div>
</div>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="employeeUpdateForm" #updEmployee (ngSubmit)="updEmpl(employeeId, employeeName, employeeLogin, employeeSalary)">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Update Employee</h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body" *ngFor="let employee of employeeList" >
          <div [hidden]="isUpdated">
              <input type="hidden" class="form-control"  formControlName="employee_id" [(ngModel)]="employee.employee_id" readonly>
              <div class="form-group">
                  <label for="name">Employee Name</label>
                  <input type="text" class="form-control"  formControlName="employee_name" [(ngModel)]="employee.name"  >
              </div>
              <div class="form-group">
                  <label for="name">Employee Login</label>
                  <input type="text" class="form-control" formControlName="employee_login" [(ngModel)]="employee.login">
              </div>
              <div class="form-group">
                <label for="name">Employee Salary</label>
                <input type="text" class="form-control" formControlName="employee_salary" [(ngModel)]="employee.salary">
              </div>
            </div>
          <div [hidden]="!isUpdated">
              {{updateMessage}}
          </div>
        </div>
            <!-- Modal footer -->
        <div class="modal-footer" >
          <button type="submit" [disabled]="!employeeUpdateForm.valid || isUpdated" class="btn btn-success">Update</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisUpdate()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form [formGroup]="employeeDeleteForm" #delEmployee (ngSubmit)="deleteEmployee(employeeId)">
        <!-- Modal Header -->
        <div class="modal-header">
          <h4 class="modal-title" style="text-align: center">Delete Employee</h4>
        </div>

        <!-- Modal body -->
        <div class="modal-body" *ngFor="let employee of employeeList" >
          <div  [hidden]="deleteMessage">
            <p> Are you sure you want to <b>delete</b> the following employee?</p>
              <div class="form-group">
                <label for="name">Employee ID</label>
              <input type="text" class="form-control"  formControlName="employee_id" [(ngModel)]="employee.employee_id" readonly>
            </div>
              <div class="form-group">
                  <label for="name">Employee Name</label>
                  <input type="text" class="form-control"  formControlName="employee_name" [(ngModel)]="employee.name" readonly>
              </div>
              <div class="form-group">
                  <label for="name">Employee Login</label>
                  <input type="text" class="form-control" formControlName="employee_login" [(ngModel)]="employee.login" readonly>
              </div>
              <div class="form-group">
                <label for="name">Employee Salary</label>
                <input type="text" class="form-control" formControlName="employee_salary" [(ngModel)]="employee.salary" readonly>
              </div>
            </div>
            <div [hidden]="!deleteMessage">
                <span>Employee has been deleted.</span>
            </div>
        </div>
            <!-- Modal footer -->
        <div class="modal-footer" >
          <button type="submit" class="btn btn-success" [disabled]="deleteMessage">Delete</button>
          <button type="button" class="btn btn-danger" data-dismiss="modal" (click)="changeisDelete()">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
